# 版本信息
k8s_version: 1.34.3

# 内核资源隔离驱动
cgroupdriver: systemd

# 二进制文件下载地址
# k8s_url: https://storage.googleapis.com/kubernetes-release/release/v{{ k8s_version }}/bin/linux/amd64 # 这个版本不怎么全
k8s_url: https://dl.k8s.io/v{{ k8s_version }}/bin/linux/amd64 # 这个版本最全

# 安装目录
k8s_work_dir: '/opt/kubernetes'
etcd_work_dir: '/opt/etcd'

# calico镜像地址：
# calico_node_img: docker.io/calico/node:v3.25.0
# calico_cni_img: docker.io/calico/cni:v3.25.0
# calico_kube-controllers_img: docker.io/calico/kube-controllers:v3.25.0
calico_node_img: swr.cn-north-4.myhuaweicloud.com/ddn-k8s/docker.io/calico/node:v3.25.0
calico_cni_img: swr.cn-north-4.myhuaweicloud.com/ddn-k8s/docker.io/calico/cni:v3.25.0
calico_kube-controllers_img: swr.cn-north-4.myhuaweicloud.com/ddn-k8s/docker.io/calico/kube-controllers:v3.25.0

# 集群网络
service_cidr: '10.0.0.0/24'
cluster_dns: '10.0.0.2'   # 与roles/addons/files/coredns.yaml中IP一致，并且是service_cidr中的IP
pod_cidr: '10.244.0.0/16' # 与roles/addons/files/calico.yaml中网段一致
service_nodeport_range: '30000-32767'
cluster_domain: 'cluster.local'

# 高可用，如果部署单Master，该项忽略
vip: '192.168.31.110'
nic: "{{ ansible_default_ipv4['interface'] }}" # 自动获取网卡名称

# 自签证书可信任IP列表，为方便扩展，可添加多个预留IP
cert_hosts:
  # 包含所有LB、VIP、Master IP和service_cidr的第一个IP
  k8s:
    - 10.0.0.1
    - 192.168.31.81
    - 192.168.31.82
    - 192.168.31.83
    - 192.168.31.84
    - 192.168.31.80
    - 192.168.31.110
  # 包含所有etcd节点IP
  etcd:
    - 192.168.31.81
    - 192.168.31.82
    - 192.168.31.83
    - 192.168.31.84
    - 192.168.31.80
