[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/kubernetes/kubernetes

[Service]
EnvironmentFile={{ k8s_work_dir }}/cfg/kube-controller-manager.conf
ExecStart=/usr/bin/kube-controller-manager $KUBE_CONTROLLER_MANAGER_OPTS
StandardOutput=append:{{ k8s_work_dir }}/logs/kube-controller-manager.log
StandardError=append:{{ k8s_work_dir }}/logs/kube-controller-manager.log
Restart=on-failure

[Install]
WantedBy=multi-user.target
